<section class="sm-padding">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <h2 class="color-light-black" translate>How does My Consultant World work?</h2>
        <p class="content-title mt-3" translate>
          We provide several systems of working designed to suit your particular needs.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="how-it-works position-relative">
          <!-- <div class="video-play" style="background-image: url(assets/images/tutor/tutor-video-thumbnail.png)"></div>
          <div class="play-icon">
            <button class="js-video-button btn-transparent" (click)="ngxSmartModalService.getModal('myModal').open()">
              <i class="fa fa-play"></i>
            </button>
          </div>
          <ngx-smart-modal #myModal identifier="myModal" customClass="medium-modal">
            <iframe
              width="100%"
              height="400"
              src="https://www.youtube.com/embed/P1v1KcARj-I"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </ngx-smart-modal> -->
          <!-- <div class="video-play">
            <iframe
              width="100%"
              height="525"
              src="https://www.youtube.com/embed/ZU0gjnRU-Z4"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div> -->
          <!-- <div class="video-play" [innerHTML]="iframe"></div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="row m-0">
    <div class="col-md-6 padding-all-sm bg-color-red d-flex justify-content-center align-items-center">
      <div class="">
        <h3 class="color-white" translate>Step 1: Choose your Working mode</h3>
        <p class="sub-text max-width-500 color-white" translate>
          It's easy! You can choose your preferred works, consultant or scheduled webinar. You can use the search box or browse according to course job skills, types, and consultants!
        </p>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <img src="assets/images/how-it-works/certified-teachers.png" alt="" />
    </div>
    <div class="col-md-6 p-0">
      <img src="assets/images/how-it-works/suitable-date.png" alt="" />
    </div>
    <div class="col-md-6 padding-all-sm d-flex justify-content-center align-items-center bg-vector">
      <div class="">
        <h3 class="" translate>Step 2: Make a selection</h3>
        <p class="sub-text max-width-500" translate>
          After you have decided your preferred working system, you can purchase private online works, or book a course, or purchase a slot in an upcoming webinar/group consultant! Then you just need to register a free user account to make any purchase. It’s simple.
        </p>
      </div>
    </div>
    <div class="col-md-6 padding-all-sm bg-color-red d-flex justify-content-center align-items-center">
      <div class="">
        <h3 class="color-white" translate>Step 3: Confirm your purchase</h3>
        <p class="sub-text max-width-500 color-white" translate>
          After Step 2, simply make the your payment to schedule your works, access your course, or confirm your seat in the upcoming webinar.
        </p>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <img src="assets/images/how-it-works/individual-lesson.png" alt="" />
    </div>
    <div class="col-md-6 p-0">
      <img src="assets/images/how-it-works/your-lesson.png" alt="" />
    </div>
    <div class="col-md-6 padding-all-sm d-flex justify-content-center align-items-center bg-vector">
      <div class="">
        <h3 class="" translate>Step 4: Start Working</h3>
        <p class="sub-text max-width-500" translate>
          Once you make your payment, you can access your work, attend your live session with selected consultant in the scheduled period.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="sm-padding bg-color-light-gray">
  <div class="container">
    <div class="how-it-works">
      <div class="row">
        <div class="col-md-6">
          <div class="progress">
            <div
              class="progress-bar progress-primary"
              role="progressbar"
              style="width: 40%"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
            <div
              class="progress-bar progress-success"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h3 class="mt-4" translate>Lifetime Access</h3>
          <p class="sub-text" translate>
            Once you hire a consultant, you get work with you to it on your working dashboard. Try to keep a long term relationship.
          </p>
        </div>
        <div class="col-md-6">
          <img src="assets/images/how-it-works/suitable-date.png" alt="" />
        </div>
      </div>
    </div>
    <div class="how-it-works mt-5">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/how-it-works/business.png" alt="" />
        </div>
        <div class="col-md-6">
          <div class="progress rmt-4">
            <div
              class="progress-bar progress-primary"
              role="progressbar"
              style="width: 40%"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
            <div
              class="progress-bar progress-success"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h3 class="mt-4" translate>Hire method.</h3>
          <p class="sub-text" translate>
            We know how important it is to take notes in live works, but we want you to focus on the working and forget about notes.
            If you didn't like how method to work of hired consultant,  you can hire other consultant.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sm-padding bg-livelearn02">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <h2 class="" translate>The Advantages of My Consultant World</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/your-expertise.svg" alt="" />
          <h4 translate>Preferred Mode of Hiring</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            Try to hire consultant who has many reviews and reasonable price. He/She is very awesome and give you the satisfaction.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/customer-base.svg" alt="" />
          <h4 translate>Advanced Search Filters</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            Find excellent consultants quickly by applying advanced filters. Also If you are customer, Try to post many tasks. So you can consult many other consultants.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/own-schedule.svg" alt="" />
          <h4 translate>TimeLine</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            If you have posted task, it has timeline. It means that after a certain amount time, the task is automatically finished.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/hourly-rate.svg" alt="" />
          <h4 translate>Only Expert Consultants</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            Our strict assessment process ensures we only hire the best, most professional consultants. That way you work much better and much more quickly.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/secure-payment.svg" alt="" />
          <h4 translate>For Customers</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            We can work with consultant whom we hope. The consultants will try to give the satisfaction to us. If the price us your primary concern, we have consultants at all price points.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/no-more-constraints.svg" alt="" />
          <h4 translate>Affordable Options</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            You need not worry about the cost. We offer flexible working environments, tasks, and live states that cover all levels.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="md-padding bg-livelearn">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <h2 class="color-white" translate>Start Working Today</h2>
        <p class="content-title mt-3 color-white" translate>
          Register today to get access to s huge range of subjects, skills and webinars delivered by professional consultants. Transform your life through continuous, efficient working from professionals.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="sm-padding">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <h2 class="" translate>Join My Consultant World Today</h2>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-md-6">
        <ul class="p-0 unorder-list-style">
          <li translate>Register your customer account.</li>
          <li translate>Browse for tasks, private skills, and descriptions.</li>
          <li translate>Get access to high-quality working materials from verified experts.</li>
          <li translate>Freedom to choose your preferred working modes and resources.</li>
          <li translate>Use the customer dashboard to manage your tasks and working progress.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="p-0 unorder-list-style">
          <li translate>Communicate with consultants via DMs for guidance and clearing all your doubts.</li>
          <li translate>Collaborate with other customers and customers on the platform on the discussion board.</li>
          <li translate>Lifetime access to works.</li>
          <li>
            <span translate="">Never stop working with My Consultant World by your side.</span>&nbsp;
            <a class="color-light-red ml-1" [routerLink]="['/auth/sign-up']" translate>Register Here</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="container pb-100">
  <div class="how-it-works">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 translate>Start Working with My Consultant World Today!</h2>
        <a class="btn btn-default" [routerLink]="['/tutors']" translate>Explore Now</a>
        <p class="sub-text text-secondary mt-3" translate>Browse for tasks, look for consultants, and attend webinars</p>
      </div>
    </div>
  </div>
</section>
